body {
  background-image: url("http://www.bagdadmovies.com/images/bagdad_movies/bg.jpg");
  background-position: top;
  background-size: cover;
  color: white;
  font-family: "Trebuchet MS",Arial,sans-serif;
}

p, li a {
  font-size: 16px;
  line-height: 1.5;
}

  /*NAVBAR*/

.navbar-brand {
  width: 300px;
  height: 75px;
  background-image: url("http://www.bagdadmovies.com/images/bagdad_movies/logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.54902);
  border: none;
}

.navbar ul li {
  margin-top: 10px;
}

.navbar button {
  border: none;
  margin-top: 20px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: rgba(0, 0, 0, 0.54902);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #da7e25;
}

.navbar-collapse .navbar-nav li a {
  color: #da7e25;
}

.navbar-collapse {
  border: none;
}

  /*MAIN CONTENT*/

  /*bagdad info div*/
.col-md-4 .bagdadWell {
  background-color: rgba(0, 0, 0, 0.54902);
  border: none;
}

.bagdadImg {
  margin-top: -40px;
  width: 100%;
}

  /*Showtimes div*/

.well {
  background-color: rgba(0,0,0,0.15);
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 0px;
}

select.form-control {
  margin-bottom: 15px;
}

.tickets {
  background-color: rgba(255,255,255,0.1);
  text-align: center;
  padding-top: 15px;
}

.btn {
  background-color: #da7e25;
  border: none;
  border-bottom: 4px solid #834c16;
  border-radius: 0px;
  color: white;
  width: 46%;
  margin: 4px;
}

  /*now playing*/

hr {
  border-color: rgba(255,255,255,0.25);
}

.movieImg {
  max-width: 100%;
}

.movieInfo h3 {
  margin-top: 15%;
}

.movie:last-child h3 {
  margin-top: 0;
}

.movieInfo a {
  text-decoration: none;
  color:  #da7e25;
}

.movieInfo p {
  margin-top: 1em;
}

.movie {
  margin-bottom: 50px;
}

  /*Footer*/

footer {
  margin-top: 20px;
  background: url("http://www.bagdadmovies.com/images/bagdad_movies/lamp.png") no-repeat 10px 60%;
  background: linear-gradient(#4E1F08, #1D0D05);
  padding-top: 20px;

}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer li a{
  color: #da7e25;
}
